# MongoDB connection string
MONGODB_URI=your_mongodb_connection_string_here

# Secret used to sign JWTs.
JWT_SECRET=your_random_secret_here

# Open Charge Map API key
OCM_API_KEY=your_open_charge_map_key_here
